@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Trykker&display=swap');

/* css variable */
:root {
    --primary-color: #fcbb01;
    --secondary-color: #4a9ca3;
    --accent1-color: #616d69;
    --accent2-color: #c9ebee;
    --heading-font: 'Kaushan Script', serif;
    --paragraph-font: 'Trykker', serif;
    --nav-bacground-color: #c9ebee;
    --nav-link-color: #616d69;
    --nav-hover-link-color: #f7a173;
    --nav-hover-background-color: #fef8eb;
}

/* Default setting of css */

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--nav-bacground-color);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 30px;
}

header {
    padding: 0;
    background-color: var(--nav-bacground-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 200px 1fr 2fr;
	align-items: center;
    justify-content: space-evenly;
	max-width: 1000px;
    border-style: solid none solid;
    border-color:  var(--primary-color);
}

/* CSS Classes 1 */
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 175px;
	height: auto;
}

.navigation {
    display: flex;
    grid-column: 2/4;
}

.navigation a {
    flex: 1 1 100%;
}

.history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: none none solid;
    border-color:  var(--primary-color);
}

.history h2 {
    align-items: flex-start;
    align-self: center;
    justify-self: center;
}
.history p {
    align-items: flex-end;
}


/* standard */
p {
    padding: 10px;
}

nav {
    background-color: var(--nav-bacground-color);
    font-size: 1.5rem;
    text-align: center;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: underline;
}

figcaption {
    font-family: var(--paragraph-font);
    font-size: small;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* CSS Classes 2 */

.socialinks {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialinks img {
    width: 30px;
    height: auto;
}

.hero {
	margin: 10px auto;
	position: relative;
}

.hero #red {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.hero h1 {
	position: absolute;
	top: 25px;
	left: 300px;
	background: radial-gradient(var(--accent2-color), var(--nav-bacground-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
}

.hero article {
    position: absolute;
	bottom: 100px;
	left: 15px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    text-align: left;
}

.hero article img {
    float: right;
}

.adventure {
    display: flex;
    flex-direction: column;
    border-style: solid none solid;
    border-color:  var(--primary-color);
    padding: 1rem;
}

.adventure h2 {
    align-self: center;
}

/* .adventure {
    display: grid;
    grid-template-columns: repeat(5, 70%);
    grid-template-rows: 20% 20% 20%;
} */

.adventure img {
    width: 700px;
    height: auto;
}

.adventure figure {
    align-self: center;
}

/* Contact page */

.contact {
	margin: 25px auto;
	position: relative;
}

.contact #red {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.contact h1 {
	position: absolute;
	top: 15px;
	left: 400px;
	background: radial-gradient(var(--accent2-color), var(--nav-bacground-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
}

.contact article {
    position: absolute;
	bottom: 65px;
	left: 0px;
	background: radial-gradient(#eee, #a0b4dd);
	border: 1px solid #000;
	padding: 0.5rem 0.1rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    text-align: left;
    font-size: 20px;
}

.contact article {
    display: flex;
    flex-direction: row-reverse;
}

/* FORM */

form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    background-color: var(--nav-hover-background-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.2rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 700px;
}

legend {
    padding: 0.5rem;
    color: #333;
    font-size: 2rem;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

label, input, button, textarea {
    font-family: var(--paragraph-font);
    color: #333;
}

label {
    text-align: left;
    padding-left: 1rem; 
    font-size: 1.2rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: var(--paragraph-font);
}

/* input [type="checkbox"] {
    width: 22px;
    height: 22px;
} no action require */

button {
    margin: 10px 10px;
    background-color: var(--primary-color);
    color: #333;
    border: none;
    border-radius: .5rem;
    padding: 3px 5px;
    font-size: 1.2rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
}

button:hover {
    background-color: var(--nav-bacground-color);
}

.form-item {
    display: grid;
    align-items: center;
    font-weight: bold;
}

.column3 {
    grid-template-columns: 2fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 2fr 2fr;
}

.column3 p {
    font-family: var(--paragraph-font);
    color: #333;
    text-align: left;
    padding-left: 1rem; 
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.column1 {
    grid-template-columns: 1fr 2fr;
}

.map {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: none none solid;
    border-color:  var(--primary-color);
}

.map h2 {
    align-items: flex-start;
    align-self: center;
    justify-self: center;
}
.map p {
    align-items: flex-end;
    align-self: center;
    justify-self: center;
}

.map iframe {
    align-self: center;
    justify-self: center;
    padding: 20px;
}

/* Trips Page */

.book {
	margin: 25px auto;
	position: relative;
}

.book #red {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.book h1 {
	position: absolute;
	top: 100px;
	left: 300px;
	background: radial-gradient(var(--accent2-color), var(--nav-bacground-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
}

.book article {
    position: absolute;
    width: 450px;
	bottom: 50px;
	left: 250px;
	background: radial-gradient(#eee, #a0b4dd);
	border: 1px solid #000;
	padding: 0.5rem 0.1rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    text-align: left;
    font-size: 20px;
}

.book p {
    text-align: center;
    padding: 0;
}

.book-button {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.trip {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 10% 90%;
    border-style: solid none solid;
    border-color:  var(--primary-color);
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.trip-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular:hover {
    background-color: var(--nav-hover-background-color);
}

.trip h2 {
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
}

.trip h3,p {
    text-align: center;
    font-weight: lighter;
    margin: 0;
}


.trip img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 30px #111;
}

.trip figure {
    align-self: center;
}

/* Table trip */

table, td, th{
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 15px;
  margin: 25px;
}

th {
  background-color: var(--nav-link-color);
  color: var(--nav-hover-link-color);
}

td {
    background-color: var(--nav-hover-background-color);
}

