@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Trykker&display=swap');

/* css variable */
:root {
    --primary-color: #fcbb01;
    --secondary-color: #4a9ca3;
    --accent1-color: #616d69;
    --accent2-color: #c9ebee;
    --heading-font: 'Kaushan Script', serif;
    --paragraph-font: 'Trykker', serif;
    --nav-bacground-color: #c9ebee;
    --nav-link-color: #616d69;
    --nav-hover-link-color: #f7a173;
    --nav-hover-background-color: #fef8eb;
}

/* Default setting of css */

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: var(--nav-bacground-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 0;
    background-color: var(--nav-bacground-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 200px 1fr 2fr;
	align-items: center;
    justify-content: space-evenly;
	max-width: 1000px;
    border-style: solid none solid;
    border-color:  var(--primary-color);
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 175px;
	height: auto;
}

.navigation {
    display: flex;
    grid-column: 2/4;
}

.navigation a {
    flex: 1 1 100%;
}

.history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid none solid;
    border-color:  var(--primary-color);
}

.history h2 {
    align-items: flex-start;
    align-self: center;
    justify-self: center;
}
.history p {
    align-items: flex-end;
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-bacground-color);
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: underline;
}

/* CSS Classes */

.socialinks {
    text-decoration: none;
}

.hero {
	margin: 10px auto;
	position: relative;
}

.hero #red {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.hero h1 {
	position: absolute;
	top: 25px;
	left: 300px;
	background: radial-gradient(var(--accent2-color), var(--nav-bacground-color));
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
}

.hero article {
    position: absolute;
	bottom: 100px;
	left: 15px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    text-align: left;
}

.hero article img {
    float: right;
}