@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Trykker&display=swap');

:root {
    --primary-color: #fcbb01;
    --secondary-color: #4a9ca3;
    --accent1-color: #616d69;
    --accent2-color: #c9ebee;
    --heading-font: 'Kaushan Script', serif;
    --paragraph-font: 'Trykker', serif;
    --nav-bacground-color: #c9ebee;
    --nav-link-color: #616d69;
    --nav-hover-link-color: #f7a173;
    --nav-hover-background-color: #fef8eb;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-bacground-color);
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-bacground-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: underline;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}